.container {
    background-color: #333333;
}

.container div p {
    background-color: #FFFFFF;
}

div p {
    border: 1px solid #333333;
    padding: 10px;
}

h2 {
    color: #FFFFFF;
	margin-top:10px!important;
}